# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
test/
1024
a.log
build/*
tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
qwen2.5-1.5b-instruct-q4_k_m.gguf
tmp/
logs/
*.gguf
models/
tests/__pycache__/*.pyc
tools/__pycache__/gguf2safetensors.cpython-310.pyc
sessions
